html { background: #ffffff; }
body { color: #000000; }

h1, h2 { text-align: center; }

a:hover:not(.sourceLine) {
	border-color: #ff4630;
	color: #ff4630;
	padding: 2px 8px;
	text-decoration: none;
}

a:not(.sourceLine) {
	border-style: solid;
	border-width: 1px;
	color: #000000;
	background: #ffffff;
	padding: 2px 8px;
	text-decoration: none;
}


code {
	font-family: 'IBM Plex Mono';
	background: #000000;
	color: #ffffff;
	padding: 1px 4px;
	border-radius: 0px;
	border-color: #000000;
}

pre > code {
	background: #ffffff;
	color: #000000;
	border-width: 1px 0px 1px 0px;
}

.sourceLine { color: #000000; }
.fu { color: #111111; }
.kw { color: #ff4630; }
.dt { color: #222222; }

h1 {
	padding-top: 150px;
	padding-bottom: 150px;
	margin-bottom: 100px;
	width: 100%;
	background:
		repeating-linear-gradient(
			-45deg,
			#000000,
			#000000 0.2px,
			transparent 0.4px,
			transparent 120px
		),
		repeating-linear-gradient(
			45deg,
			#000000,
			#000000 0.2px,
			transparent 0.2px,
			transparent 100px
		);

}

h2 {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 150px;
	margin-bottom: 50px;
	border-style: solid;
	border-color: #000000;
	border-width: 0px 1px 0px 1px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: #000000;
}
