html { background: #ffffff; }
body { color: #000000; margin: 0px; }

h1, h2 { text-align: center; }

a:hover:not(.sourceLine) {
	border-color: #ff4630;
	color: #ff4630;
	padding: 2px 8px;
	text-decoration: none;
}

a:not(.sourceLine) {
	border-style: solid;
	border-width: 1px;
	color: #000000;
	background: #ffffff;
	padding: 2px 8px;
	text-decoration: none;
}

ul {
	list-style: square inside;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	display: inline-block;
	padding: 12px;
	border-style: solid;
	bottom: -24px;
	border-width: 1px;
	border-color: #000000;
	background: #ffffff;
	position: relative;
}

input[type="checkbox"]:checked {
	-webkit-appearance: none;
	padding: 12px;
	border-color: #ffffff;
	background: #000000;


}

.fu { color: #111111; }
.kw { color: #000000; font-weight: bold; }
.dt { color: #222222; }

.sourceLine { color: #000000; }
.sourceLine:hover { color: #ff4630; }
.sourceLine:hover > .kw { color: #ff4630; }
.sourceLine:hover > .dt { color: #ff4630; }
.sourceLine:hover > .fu { color: #ff4630; }

code {
	font-family: 'IBM Plex Mono';
	background: #000000;
	color: #ffffff;
	padding: 1px 4px;
	border-radius: 0px;
	border-color: #000000;
}

pre > code {
	background: #ffffff;
	color: #000000;
	border-width: 0px 0px 0px 0px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 5em;
	padding-top: 150px;
	padding-bottom: 50px;
	margin-bottom: 100px;
	width: 100%;
	height: 200px;
	color: #ffffff;
	background: #000000;
}

h2 {
	padding-top: 50px;
	padding-bottom: 0px;
	margin-top: 150px;
	margin-bottom: 50px;
}

h3 {
	background: #000000;
	color: #ffffff;
	padding: 2px 8px;
	font-size: 2.4rem;
}

h4 { font-size: 1.8rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.5rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #000000;
}
