/* ------ language="CSS" file="css/site.css" */
/* ------ begin <<style>>[0] */
html { background: #ffffff; }
body { color: #000000; margin: 0px; }

/* ------ end */
/* ------ begin <<style>>[1] */
a:hover:not(.sourceLine) {
	border-color: #ff4630;
	color: #ff4630;
	padding: 2px 8px;
	text-decoration: none;
}

a:not(.sourceLine) {
	border-style: solid;
	border-width: 1px;
	color: #000000;
	background: #ffffff;
	padding: 2px 8px;
	text-decoration: none;
}
/* ------ end */
/* ------ begin <<style>>[2] */
ul {
	list-style: square inside;
}
/* ------ end */
/* ------ begin <<style>>[3] */
input[type="checkbox"] {
	-webkit-appearance: none;
	display: inline-block;
	padding: 11px;
	margin-bottom: -7px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background: #ffffff;
	position: relative;
}

input[type="checkbox"]:checked {
	-webkit-appearance: none;
	padding: 12px;
	margin-bottom: -8px;
	border-color: #ffffff;
	background: #000000;
}
/* ------ end */
/* ------ begin <<style>>[4] */
.guest {
    background: #3064ff22;
    padding: 2px 8px;
    margin-bottom: 0px;
}
.me {
    background: #30ff6a22;
    padding: 2px 8px;
    margin-bottom: 0px;
}
.note {
    background: #3064ffaa;
    padding: 2px 8px;
    margin-bottom: 0px;
}
.tip {
    background: #30ff6aaa;
    padding: 2px 8px;
    margin-bottom: 0px;
}
.warning {
    background: #ff4630dd;
    padding: 2px 8px;
    margin-bottom: 0px;
}
.notice {
    background: #ff9c30;
    padding: 2px 8px;
    margin-bottom: 0px;
}
.boxed {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    padding: 0.5em;
}
details {
    margin-bottom: 1em;
}
summary:focus {
    outline-style: none;
}
/* ------ end */
/* ------ begin <<style>>[5] */
code {
	font-family: 'IBM Plex Mono';
	background: #000000;
	color: #ffffff;
	padding: .1rem .4rem;
	border-radius: 0;
	border-width: 0;
}
/* ------ end */
/* ------ begin <<style>>[6] */
pre > code {
	background: transparent;
	color: #000000;
	border-width: 0px 0px 0px 0px;
	overflow: auto;
}
/* ------ end */
/* ------ begin <<style>>[7] */
h1.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 5em;
	padding-top: 15rem;
	padding-bottom: 5rem;
	margin-bottom: 10rem;
	width: 100%;
	height: 20rem;
	color: #ffffff;
	background: #000000;
}
/* ------ end */
/* ------ begin <<style>>[8] */
h1, h2 { text-align: center; }
h2 {
	padding-top: 5rem;
	padding-bottom: 0px;
	margin-top: 15rem;
	margin-bottom: 5rem;
}

h3 {
	font-size: 3.0rem;
	padding: 2px 8px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #000000;
}

h4 {
	font-size: 2.5rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
	padding-left: 1em;
}

h5 { font-size: 2.0rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
/* ------ end */
/* ------ begin <<style>>[9] */
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* ------ end */
/* ------ begin <<style>>[10] */

/* ------ end */
/* ------ end */
