/* ------ language="CSS" file="custom.css" project://article.md#39 */
/* ------ begin <<custom-css>>[0] project://article.md#194 */
.resource-tag {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-style: none;
  box-shadow: 1px 2px 4px #ccccc8;
  background-color: #fffff8;
}

.resource-tag-container {
  position: relative;
}

.resource-tag-search {
  display: none;
  position: absolute;
  width: 600px;
  background: #fffff8;
  x: +10%;
}

.resource-tag-container:hover .resource-tag-search {
  display: block;
}

.resource {
  display: flex;
  width: 55%;
  margin-top: 5px;
  justify-content: space-between;
}
/* ------ end */
/* ------ end */
