.my-container {
  position: relative;
  width: 100%;
  
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  background-color: blue;}
.column,
.columns {
  width: 100%;
	float:left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .my-container {
    width: 85%;
    padding: 0; }
	
.sidebar {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color:powderblue;
   padding: 20px 10px;
}

.main {
	background-color:pink;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  top: 0;
  left: 20%;
  position: relative;
  padding: 20px 40px;
}

.profile{
	width: 100%;
	height:100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
 
}

.owner{
	margin: 10px 0px 5px 0px;
	padding: 0;
	line-height:1;
	text-align: center;
	font-size: 20px;
	
	
}

.title{
	margin: 5px 0px;
	padding:0;
	line-height:1;
	text-align: center;
	font-size: 15px;
	
}

.line{
	line-height:1;
	margin: auto;
	padding:0;
	border-top: 1px solid black;
	width:80%;
}