/* ------ language="CSS" file="css/site.css" */
/* ------ begin <<style>>[0] */
html { background: #ffffff; }
body { color: #000000; margin: 0px; }

h1, h2 { text-align: center; }
/* ------ end */
/* ------ begin <<style>>[1] */
a:hover:not(.sourceLine) {
	border-color: #ff4630;
	color: #ff4630;
	padding: 2px 8px;
	text-decoration: none;
}

a:not(.sourceLine) {
	border-style: solid;
	border-width: 1px;
	color: #000000;
	background: #ffffff;
	padding: 2px 8px;
	text-decoration: none;
}

a.sourceLine {
    width: 100%;
    display: inline-block;
}
/* ------ end */
/* ------ begin <<style>>[2] */
ul {
	list-style: square inside;
}
/* ------ end */
/* ------ begin <<style>>[3] */
input[type="checkbox"] {
	-webkit-appearance: none;
	display: inline-block;
	padding: 12px;
	margin-bottom: -7px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background: #ffffff;
	position: relative;
}

input[type="checkbox"]:checked {
	-webkit-appearance: none;
	padding: 12px;
	border-color: #ffffff;
	background: #000000;
}
/* ------ end */
/* ------ begin <<style>>[4] */
.fu { color: #111111; }
.kw { color: #000000; font-weight: bold; }
.dt { color: #222222; font-weight: bold; }
.bu { color: #000000; font-weight: bold; }
.op { color: #000000; font-weight: bold; }
.cf { color: #000000; font-weight: bold; }

.sourceLine { color: #000000; }
.sourceLine:hover { color: #ffffff; background: #000000; }
.sourceLine:hover > .kw { color: #ffffff; }
.sourceLine:hover > .dt { color: #dddddd; }
.sourceLine:hover > .fu { color: #eeeeee; }
.sourceLine:hover > .bu { color: #ffffff; }
.sourceLine:hover > .op { color: #ffffff; }
.sourceLine:hover > .cf { color: #ffffff; }
/* ------ end */
/* ------ begin <<style>>[5] */
code {
	font-family: 'IBM Plex Mono';
	background: #000000;
	color: #ffffff;
	padding: 1px 4px;
	border-radius: 0px;
	border-color: #000000;
}
/* ------ end */
/* ------ begin <<style>>[6] */
pre > code {
	background: #ffffff;
	color: #000000;
	border-width: 0px 0px 0px 0px;
	overflow: auto;
}
/* ------ end */
/* ------ begin <<style>>[7] */
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 5em;
	padding-top: 150px;
	padding-bottom: 50px;
	margin-bottom: 100px;
	width: 100%;
	height: 200px;
	color: #ffffff;
	background: #000000;
}
/* ------ end */
/* ------ begin <<style>>[8] */
h2 {
	padding-top: 50px;
	padding-bottom: 0px;
	margin-top: 150px;
	margin-bottom: 50px;
}

h3 {
	background: #000000;
	color: #ffffff;
	padding: 2px 8px;
	font-size: 2.4rem;
}

h4 { font-size: 1.8rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.5rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }
/* ------ end */
/* ------ begin <<style>>[9] */
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* ------ end */
/* ------ begin <<style>>[10] */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: #000000;
}

::-webkit-scrollbar-thumb {
	background: #ffffff;
}
/* ------ end */
/* ------ end */
